@{
    ViewData["Title"] = "About";
}

    <h1>More information:</h1>


<address>
    <p>@ViewData["Email"] </p>
    <strong>More information in my Github: </strong> <a href="https://github.com/SamuelLouis4life1">Github </a>
    <p> <strong>More information in LInkedIn : </strong> <a href="https://www.linkedin.com/in/louis-samuel-544082110/">LInkedIn</a> </p>
</address>


